/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES */

body {
  font-family: "Roboto", serif;
}


/* HEADER */
header, .hero {
  background-color: #1F2937;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
}

.header-right ul li {
  list-style-type: none;
}

.header-right a {
  text-decoration: none;
  color: #E5E7EB;
}

.links li {
  display: inline-block;
}

.links {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

/* HERO */

.hero {
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-blurb {
  width: 30%;
}

.hero-blurb h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-blurb p {
  font-size: 18px;
  color: #E5E7EB;
  width: 95%;
}

.hero-blurb button {
  background-color: #3882f6;
  color: #E5E7EB;
  border: none;
  border-radius: 1em;
  padding: 1em 1.5em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
}

/* Subsection */

.subsection {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5em;
}

.subsection h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 1.5em 0;
}

.images-gallery {
  display: flex;
}

.image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-block p {
  padding-top: 1em;
}

.images-gallery img {
  border-radius: 1em;
}

.images-gallery img, .images-gallery p {
  width: 55%;
}

/* Quote */

.quote-section {
  background: #E5E7EB;
}

.quote {
  width: 60%;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
}

.quote p {
  font-size: 36px;
  font-weight: bold;
}
